@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav, main > section {
  overflow: auto;
}

main > section {
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav > h1 {
  margin: 0;
  padding: 0;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav a {
  padding: 0 1em;
  text-decoration: none;
}

#nav {
  background-color: #424b54;
}

#banner {
  background-color: #B38D97;
}

#topic-1 {
  background-color: #D5ACA9;
}

#topic-2 {
  background-color: #EBCFB2;
}

#topic-3 {
  background-color: #C5BAAF;
}

#contact {
  background-color: #B3CBB9;
}
