@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav, main > section {
  overflow: auto;
}

main > section {
  min-height: 100vh;
}

main > footer {
  min-height: 40vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: #424b54;
  background-color: #B3CBB9;
}

nav > h1 {
  margin: 0;
  padding: 0;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  padding: 0 1em;
  text-decoration: none;
  color: #424b54;
  transition: all 0.2s;
}

nav ul a:hover {
  color: #eee;
}

#banner {
  background-color: #B38D97;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

#banner > div {
  position: relative;
  top: 120px;
  right: 120px;
}

#banner h2, #banner p {
  margin: 0;
  color: #eeeeee;
  text-shadow: 0 0 20px #424b54;
}

#topic-1 {
  background-color: #D5ACA9;
}

#topic-1 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#topic-1 > h2 {
  margin: 1em;
  font-size: 3em;
  color: #eeeeee;
  text-align: center;
}

.card {
  width: 400px;
  height: 60vh;
  margin: 1em;
  color: #eeeeee;
  border: 2px solid #ffffff;
  box-shadow: 0 0 20px #B3CBB9;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 2em;
}

.card h3, .card p {
  margin: 1rem;
}

#topic-2 {
  background-color: #EBCFB2;
  background-image: url(img/topic-2.jpg);
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#topic-2 > div {
  color: #eee;
  text-shadow: 0 0 20px #424b54;
  background-color: rgba(255, 192, 203, 0.6);
  margin: 1em;
  padding: 1em;
  width: 35%;
  max-width: 500px;
  text-align: center;
}

#topic-2 h2 {
  margin: 0.5em;
  font-size: 4em;
}

#topic-3 {
  background-color: #C5BAAF;
  background-image: url(img/texture.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}

#topic-3 > div {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

#topic-3 h2 {
  margin: 0 0 0.5em;
  font-size: 2em;
}

#topic-3 > div > div:nth-child(1) {
  flex: 3;
  margin: 0 1em 0 0;
  
}

#topic-3 > div > div:nth-child(2) {
  flex: 2;
}

#topic-3 > div img {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#contact {
  color: #eee;
  background-color: #424b54;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact > form {
  display: flex;
}

#contact > form > div {
  display: flex;
  flex-direction: column;
}

#contact label {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

#contact span {
  margin: 1em 0;
}

#contact input, #contact textarea {
  border: 1px solid #000000;
  padding: 0.5em;
  width: 20em;
  font-size: 1em;
}

#contact input {
  margin: 0 2em 0 0;
}

#contact textarea {
  height: 8em;
}

#contact button {
  font-size: 1em;
  margin: 1em 0;
  align-self: flex-end;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #000000;
  border: none;
}